.radixTheme {
	--color-panel: var(--attt-color-panel-background, var(--gray-a2));
}

.appContent {
	position: relative;
	z-index: 1;
	height: 100%;
	background: var(--attt-app-background, transparent);
}
